<% if (user_signed_in?) and !(username_signed_in?) %>
  <% if @topic.idreg == current_user.id %>
    <h2>Добавить вопрос в задание "<%= @topic.titletopic %>"</h2>
    <p><strong>Добавлено вопросов:</strong> <%= Question.where(topic_id: @topic).count %>  из <%= @topic.countquestions %> </p>
    <%= form_with(model: [ @topic, @topic.questions.build ], local: true) do |form| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2>
          <% er= @question.errors.count %>
          <% if er>0 %>
            <span class="formerrors">Форма заполнена неправильно</span>
          <% end %>
        </h2>
      </div>
    <% end %>
    <div class="row">
      <div class="form-group col-sm-12">
        <%= form.label :"Изображение" %><br><%= form.file_field :imgquestion %><br>
        <% if @question.errors[:imgquestion].count>0 %>
          <div class="field_with_errors"></div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-sm-12">
        <%= form.label :"Вопрос" %><br>
        <% if @question.errors[:titlequestion].count>0 %>
          <div class="field_with_errors">
        <% end %>
        <%= form.text_field :titlequestion, class: "w100" %>
        <% if @question.errors[:titlequestion].count>0 %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= form.label :"Правильный ответ" %><br>
        <% if @question.errors[:answertrue].count>0 %>
          <div class="field_with_errors">
        <% end %>
        <%= form.text_field :answertrue, class: "w100" %>
        <% if @question.errors[:answertrue].count>0 %>
          </div>
        <% end %>
      </div>
      <div class="form-group col-sm-6">
        <%= form.label :"Вариант ответа 1" %><br>
        <% if @question.errors[:answer2].count>0 %>
          <div class="field_with_errors">
        <% end %>
        <%= form.text_field :answer2, class: "w100" %>
        <% if @question.errors[:answer2].count>0 %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= form.label :"Вариант ответа 2" %><br>
        <% if @question.errors[:answer3].count>0 %>
          <div class="field_with_errors">
        <% end %>
        <%= form.text_field :answer3, class: "w100" %>
        <% if @question.errors[:answer3].count>0 %>
          </div>
        <% end %>
      </div>
      <div class="form-group col-sm-6">
        <%= form.label :"Вариант ответа 3" %><br>
        <% if @question.errors[:answer4].count>0 %>
          <div class="field_with_errors">
        <% end %>
        <%= form.text_field :answer4, class: "w100" %>
        <% if @question.errors[:answer4].count>0 %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
      <p><%= form.submit "Добавить", name: "add", class: "topic_button btn btn-primary" %></p>
    <% end %>
    <%= link_to 'Назад', topics_path %>
  <% end %>
<% end %>
