<% if (username_signed_in?) %><% userid = current_username.id %>
  <div class="container">
    <h1>Редактировать личные данные</h1>
    <%= form_with model: @visitor, url: visitor_path, local: true do |form|  %>
      <% if @visitor.errors.any? %>
        <div id="error_explanation">
          <h2>
            <% er=@visitor.errors.count %>
            <% if er>0 %>
              <span class="formerrors">Форма заполнена неправильно</span>
            <% end %>
          </h2>
            <% if @visitor.errors[:photo] %>
              <p>Проверьте загружаемое изображение, размер файла не должен быть больше 1 Мб. Для загрузки используйте изображения в фомате .png, .jpg и .gif. </p>
            <% end %>
        </div>
      <% end %>
      <% if Visitor.find_by(idregvis: userid).photo.url(:thumb) !="" %>
        <%= image_tag Visitor.find_by(idregvis: userid).photo.url(:thumb), class: "photoprofile" %>
      <% end %>
      <p class="inputphotocreator">
        <%= form.file_field :photo %>
      </p>
      <hr>
      <div class="row">
        <div class="form-group col-lg-6 col-sm-12">
          <%= form.label :name, "Имя" %><br>
          <%= form.text_field :name, class: "w100" %>
        </div>
        <div class="form-group col-lg-6 col-sm-12">
          <%= form.label :surname, "Фамилия" %><br>
          <%= form.text_field :surname, class: "w100" %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <%= form.label :sex, "Пол" %><br>
          <%= form.select(:sex, [['Муж.', "Муж."], ['Жен.', "Жен."]]) %>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <%= form.label :telephone, "Телефон" %><br>
          <%= form.text_field :telephone, class: "w100" %>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <%= form.label :country, "Страна" %><br>
          <%= form.text_field :country, class: "w100" %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <%= form.label :city, "Город" %><br>
          <%= form.text_field :city, class: "w100" %>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <%= form.label :birthdate, "Дата рождения" %><br>
          <%= form.date_field :birthdate, class: "w100" %>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <%= form.label :promocode, "Промокод" %><br>
          <%= form.text_field :promocode, class: "w100" %>
        </div>
      </div>
      <hr>
      <%= form.hidden_field :idregvis, value: current_username.id %>
      <%= form.hidden_field :codevisitor, value: current_username.encrypted_password %>
      <p>
        <%= form.submit "Сохранить", class: "topic_button btn btn-primary" %>
      </p>
    <% end %>
    <p><a href="/profilevisitor/">Назад</a></p>
  </div>
  <% rr = Dir.children("public/uploads/tmp/")%>
  <% contrr = rr.count %>
  <% contrr = (contrr-1)%>
  <% for i in 0..contrr %>
    <% x = Dir.children("public/uploads/tmp/#{rr[i]}")%>
    <% x.each do |name| %>
      <% File.delete("public/uploads/tmp/#{rr[i]}/#{name}") %>
    <% end %>
  <% end %>
  <% rr.each do |namef| %>
    <% if Dir.empty?("public/uploads/tmp/#{namef}")%>
      <% Dir.delete("public/uploads/tmp/#{namef}") %>
    <% end %>
  <% end %>
<% end %>
