<% if (user_signed_in?) and !(username_signed_in?) %>
  <div class="div-line"><h1>Задания</h1> <a href="<%= new_topic_path %>"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a> </div>
  <% if (user_signed_in?) %><% idreg1 = current_user.id %><% end %>
  <% if Topic.find_by(idreg: idreg1) %>
    <table class ="task-tabl">
      <tr class="gl-zag-tabl">
        <th>Название</th>
        <th>Вопросов</th>
        <th>Проверить</th>
        <th>Настройки</th>
        <th>Удалить</th>
      </tr>
      <% @topics.each do |topic| %>
          <tr class="zag-tabl">
            <td><h4 class="div-line-small"><a href="/topics/<%= topic.id %>/questions"><%= topic.titletopic %></a></h4></td>
            <td><h4><%= topic.questions.count %></h4></td>
            <td><h4><a href="/topics/<%= topic.id %>/view"><i class="fa fa-pencil-square fa-1x" aria-hidden="true"></i></a></h4></td>
            <td><h4><a href="/topics/<%= topic.id %>"><i class="fa fa-cogs fa-1x" aria-hidden="true"></i></a></h4></td>
            <td><h4><a rel="nofollow" data-confirm="Удалить?" data-method="delete" href="/topics/<%= topic.id %>/"><i class="fa fa-trash-o" aria-hidden="true"></i></a></h4></td>
          </tr>
          <% unless Statisticscreator.find_by(idreg: idreg1) %>
            <% statistictest = [] %>
            <% statistictest[0] = topic.id %>
            <% Statisticscreator.create(test: statistictest, idreg: idreg1) %>
          <% else %>
            <% statistictest = Statisticscreator.find_by(idreg: idreg1).test %>
            <% unless statistictest.include?(topic.id) %>
              <% statistictest.push(topic.id) %>
              <% statistictest2 = statistictest.uniq %>
              <% stat = Statisticscreator.find_by(idreg: idreg1) %>
              <% stat.update(test: statistictest2) %>
            <% end %>
          <% end %>
        <% end %>
    </table>
    <%= paginate @topics %>

  <% end %>
<% end %>
<%= javascript_pack_tag 'topics_delete', 'data-turbolinks-track': 'reload' %>
