<% if (user_signed_in?) %><% idreg1 = current_user.id %><% end %>
<% if (user_signed_in?) and !(username_signed_in?) %>
  <h1>Добавить тестовое задание</h1>
  <% curentdate = Time.new %>
  <% newcurentdate = curentdate.strftime("%Y-%m-%dT%H:%M") %>
  <%= form_with scope: :topic, url: topics_path, local: true do |form| %>
    <% if @topic.errors.any? %>
      <div id="error_explanation">
        <h2>
          <% er=@topic.errors.count %>
          <% if er>0 %>
            <span class="formerrors">Форма заполнена неправильно</span>
          <% end %>
        </h2>
      </div>
    <% end %>
    <div class="row form-group">
      <div class="col-sm-12">
        <%= form.label :title, "Название*" %><br>
        <% if @topic.errors[:titletopic].count > 0 %>
          <p class="formerrors">Ошибка заполнения</p>
          <ul>
            <li>Название тестового задания должно быть уникальным</li>
            <li>Минимальная длина поля 3 символа</li>
            <li>Максимальная длина поля 300 символов</li>
          </ul>
        <% end %>
        <%= form.text_field :titletopic, class: "w100", placeholder: "Ввидите уникальное название тестового задания" %>
        <small id="emailHelp" class="form-text text-muted">Обязательное поле для заполнения</small>
      </div>
    </div>
    <hr>
    <div class="row form-group">
      <div class="col-sm-4">
        <%= form.label :count, "Количество вопросов*" %><br>
        <input id="topic_countquestions" max="100" min="1" name="topic[countquestions]" step="1" type="number" value="10" class = "w100">
        <small id="emailHelp" class="form-text text-muted">Укажите количество вопросов в тесте</small>
      </div>
      <div class="col-sm-4">
        <%= form.label :answer_true, "Правильных ответов*" %><br>
        <input id="topic_sucquest" max="100" min="1" name="topic[sucquest]" step="1" type="number" value="5" class = "w100">
        <small id="emailHelp" class="form-text text-muted">Укажите количество правильных ответов для прохождения теста</small>
      </div>
      <div class="col-sm-4">
        <%= form.label :time, "Время*" %><br>
        <input type="time" name="topic[timetask]" id="topic_timetask" value="00:10" class = "w100">
        <small id="emailHelp" class="form-text text-muted">Укажите время для прохождения тестового задания</small>
      </div>
    </div>
    <hr>
    <div class="row form-group">
      <div class="col-sm-6">
        <%= form.label :start_view, "Начало показов*" %><br>
        <input type="datetime-local" name="topic[intdate1]" id="topic_intdate1" value=<%= newcurentdate %> class = "w100">
        <small id="emailHelp" class="form-text text-muted">Укажите дату запуска тестового задания</small>
      </div>
      <div class="col-sm-6">
        <%= form.label :finish_view, "Окончание показов" %><br>
        <%= form.datetime_local_field :intdate2, class: "w100" %>
        <small id="emailHelp" class="form-text text-muted">Дата окончания показов тестового задания</small>
      </div>
    </div>
    <hr>
    <div class="row form-group">
      <div class="col-sm-6">
        <%= form.label :success, "Успешное сообщение" %><br>
        <% if @topic.errors[:successmessage].count > 0 %>
          <p class="formerrors">Ошибка заполнения</p>
          <ul>
            <li>Минимальная длина поля 3 символа</li>
            <li>Максимальная длина поля 300 символов</li>
          </ul>
        <% end %>
        <%= form.text_area :successmessage, value: "Вы успешно прошли тест", class: "w100" %>
        <small id="emailHelp" class="form-text text-muted">Введите сообщение, которое будет показываться при успешном прохождении теста</small>
      </div>
      <div class="col-sm-6">
        <%= form.label :error, "Сообщение о неудаче" %><br>
        <% if @topic.errors[:failuremessage].count > 0 %>
          <p class="formerrors">Ошибка заполнения</p>
          <ul>
            <li>Минимальная длина поля 3 символа</li>
            <li>Максимальная длина поля 300 символов</li>
          </ul>
        <% end %>
        <%= form.text_area :failuremessage, value: "Вы не прошли тест", class: "w100" %>
        <small id="emailHelp" class="form-text text-muted">Введите сообщение, которое будет показываться при неудачном прохождении теста</small>
      </div>
    </div>
    <hr>
    <div class="row form-group">
      <div class="col-sm-4">
        <%= form.label :password, "Пароль" %><br>
        <% if @topic.errors[:password].count > 0 %>
          <p class="formerrors">Ошибка заполнения</p>
          <ul>
            <li>Минимальная длина поля 3 символа</li>
            <li>Максимальная длина поля 20 символов</li>
          </ul>
        <% end %>
        <%= form.password_field :password, class: "w100", placeholder: "Введите пароль (минимум: 3 символа)" %>
        <small id="emailHelp" class="form-text text-muted">Поле можно оставить пустым</small>
      </div>
      <% if (user_signed_in?) %><% idreg = current_user.id %>
        <%= form.hidden_field :idreg, value: idreg %>
        <%= form.hidden_field :codecreator, value: current_user.encrypted_password %>
      <% end %>
      <div class="col-sm-4">
        <%= form.label :view, "Показы*" %><br>
        <%= form.select(:activ, [['Вкл.', "Вкл."], ['Выкл.', "Выкл."]]) %>
        <small id="emailHelp" class="form-text text-muted">Настройте активность показов тестового задания</small>
      </div>
      <div class="col-sm-4">
        <%= form.label :rand, "Случайный порядок*" %><br>
        <%= form.select(:rand, [['Выкл.', "Выкл."], ['Вкл.', "Вкл."]]) %>
        <small id="emailHelp" class="form-text text-muted">Настройте порядок показов тестового задания</small>
      </div>
    </div>
    <hr>
      <p>
        <%= form.submit "Сохранить", class: "topic_button btn btn-primary" %>
      </p>
  <% end %>
  <%= link_to 'Тестовые задания', topics_path %>
<% end %>

<script type="text/javascript">
  $( document ).on('turbolinks:load', function() {
    $("#topic_countquestions").on("change", function(){
      let element = $("#topic_countquestions").val();
      element = element * 1;
      let hid = $("#topic_sucquest").val();
      hid = hid * 1;
      if (element < hid) {
      $("#topic_sucquest").val(element);
      }
    });
    $("#topic_sucquest").on("change", function(){
      let el = $("#topic_sucquest").val();
      el = el * 1;
      let el2 = $("#topic_countquestions").val();
      el2 = el2 * 1;
      if (el > el2) {
      $("#topic_countquestions").val(el);
      }
    });
    $("#topic_intdate1").on("change", function(){
      let dataelement = $("#topic_intdate1").val();
      intdate1 = new Date(dataelement);
      let dataelement2 = $("#topic_intdate2").val();
      if (dataelement2) {
        intdate2 = new Date(dataelement2);
        if (intdate1 > intdate2) {
          $("#topic_intdate2").val(dataelement);
        }
      }
    });
    $("#topic_intdate2").on("change", function(){
      let datael = $("#topic_intdate2").val();
      int1 = new Date(datael);
      let datael2 = $("#topic_intdate1").val();
      if (datael) {
        int2 = new Date(datael2);
        if (int1 < int2) {
          $("#topic_intdate1").val(datael);
        }
      }
    });
  });
</script>
