<h1>Настройки вывода статистики ответов "<%= @topic.titletopic %>"</h1>
<div class="row">
  <div class="col-md-6">
    <table class="borderdiv">
      <tr>
        <td><h4>Воз&shy;раст от:</h4></td>
        <% if Setting.find_by(topic_id: @topic.id) %>
          <td>
            <h4>
              <a href="/topics/<%= @topic.id %>/settings/<%= @topic.settings.find_by(topic_id: @topic.id).id %>/edit"><%= Setting.find_by(topic_id: @topic.id).agebefore %></a>
            </h4>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="borderdiv">
      <tr>
        <td><h4>Воз&shy;раст до:</h4></td>
        <% if Setting.find_by(topic_id: @topic.id) %>
          <td>
            <h4>
              <a href="/topics/<%= @topic.id %>/settings/<%= @topic.settings.find_by(topic_id: @topic.id).id %>/edit"><%= Setting.find_by(topic_id: @topic.id).ageafter %></a>
            </h4>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="borderdiv">
      <tr>
          <td><h4>Выпол&shy;не&shy;ние задания:</h4></td>
          <% if Setting.find_by(topic_id: @topic.id) %>
            <td>
              <h4>
                <a href="/topics/<%= @topic.id %>/settings/<%= @topic.settings.find_by(topic_id: @topic.id).id %>/edit"><%= Setting.find_by(topic_id: @topic.id).accomplishment %></a>
              </h4>
            </td>
          <% end %>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="borderdiv">
      <tr>
          <td><h4>Страна:</h4></td>
          <% if Setting.find_by(topic_id: @topic.id) %>
            <td>
              <h4>
                <a href="/topics/<%= @topic.id %>/settings/<%= @topic.settings.find_by(topic_id: @topic.id).id %>/edit"><%= Setting.find_by(topic_id: @topic.id).country %></a>
              </h4>
            </td>
          <% end %>
      </tr>
  </table>
</div>
  <div class="col-md-4">
    <table class="borderdiv">
    <tr>
        <td><h4>Пол:</h4></td>
        <% if Setting.find_by(topic_id: @topic.id) %>
        <td>
          <h4>
            <a href="/topics/<%= @topic.id %>/settings/<%= @topic.settings.find_by(topic_id: @topic.id).id %>/edit"><%= Setting.find_by(topic_id: @topic.id).sex %></a>
          </h4>
        </td>
        <% end %>
    </tr>
  </table>
  </div>
</div>
<% if Setting.find_by(topic_id: @topic.id) %>
  <% idsettings = @topic.settings.find_by(topic_id: @topic.id).id  %>
  <a href="/topics/<%= @topic.id %>/settings/<%= idsettings %>/edit">Редактировать</a>
<% end %> |
<%= link_to 'Назад', topic_questions_path %>
