<%= form_with(model: [@topic, @topic.answers.build], local: true) do |form| %>
<p class="answerus">
  <%= form.text_field :answeruser, class: "hid" %>
</p>
<%= form.hidden_field :questionid %>
<% if (username_signed_in?) %><% idreg = current_username.id %>
  <input type="hidden" name="answer[userid]" id="answer_userid" value=<%= idreg %>>
<% end %>
<p>
  <%= form.submit "Ответить", name: "add", class: "but-hid", id: "addbut"%>
</p>
<% end %>
