<!-- Узнаем id пользователя и  id задания-->
<% if (username_signed_in?) %>
  <% idreg1 = current_username.id %>
<% end %>
<% topicid = @topic.id %>
<!-- Выводим таймер -->
<%= render "answers/timer" %>

<!-- Узнаем количество вопросов в задании -->
<% count_questions_topic = @topic.questions.count %>

<!-- Создаем переменную с количеством вопросов -->
<% questionsall = Answer.where(userid: idreg1, topic_id: topicid).count %>

<!-- Если количество вопросов равно количеству ответов -->
<% if count_questions_topic == questionsall %>

<% reserv = Answer.find_by(userid: idreg1, topic_id: topicid, answeruser: nil) %>
<% if reserv %>
  <% Answer.destroy_by(userid: idreg1, topic_id: topicid, answeruser: nil) %>
<% else %>
  <!-- Выводим блок первых 3-х мест -->
    <%= render "answers/mesto" %>
  <!-- Выводим таблицу результатов для пользователя -->
    <%= render "answers/tabltotal" %>
<% end %>
<% end %>

<!-- Если в тесте вопросов больше чем ответов -->
<% answer_user = Answer.where(userid: idreg1, topic_id: topicid).count - Answer.where(userid: idreg1, topic_id: topicid, answeruser: nil).count %>

<% if count_questions_topic > answer_user %>

  <!-- Создаем переменную с количеством отложенных вопросов -->
  <% countreserve = @topic.answers.where(userid: idreg1, answeruser: nil).count %>

  <!-- Создаем массив id вопросов -->
  <% id_array_questions = [] %>
  <% @topic.questions.each do |question| %>
    <% id_array_questions.push(question.id) %>
  <% end %>

  <!-- Создаем массив id вопросов, на которые пользователь ответил или пропустил -->
  <% if Answer.find_by(userid: idreg1, topic_id: topicid) %>
    <% id_array_questions_answer = [] %>
    <% Answer.where(userid: idreg1, topic_id: topicid).each do |answer| %>
    <% id_array_questions_answer.push(answer.questionid) %>
    <% end %>
  <% end %>

  <!-- Создаем массив id вопросов, которые пользователь пропустил -->
  <% if Answer.find_by(userid: idreg1, topic_id: topicid, answeruser: nil) %>
    <% id_array_questions_answer_reserv = [] %>
    <% Answer.where(userid: idreg1, topic_id: topicid, answeruser: nil).each do |answer_reserv| %>
    <% id_array_questions_answer_reserv.push(answer_reserv.questionid) %>
    <% end %>
  <% end %>

  <!-- Удаляем из массива вопросы, на которые пользователь отвечал или пропустил -->
  <% if id_array_questions_answer and id_array_questions.size > id_array_questions_answer.size %>
    <% id_array_questions = id_array_questions - id_array_questions_answer %>
  <% end %>

  <!-- Порядок вывода вопросов -->
  <% if @topic.rand == "Вкл." %>
    <% array_size = id_array_questions.size - 1 %>
    <% number_questions = rand(0..array_size) %>
  <% else %>
    <% number_questions = 0 %>
  <% end %>

  <!-- Выводим изображение -->
  <% if Question.find_by(id: id_array_questions[number_questions]).imgquestion.size > 0 %>
    <div><%= image_tag Question.find_by(id: id_array_questions[number_questions]).imgquestion.url(:big), class: "imgquestion" %></div>
  <% end %>

  <!-- Выводим вопросы -->
  <% if Question.find_by(id: id_array_questions[number_questions]).titlequestion %>
    <div><h5><%= Question.find_by(id: id_array_questions[number_questions]).titlequestion %></h5></div>
  <% end %>

  <span hidden class="hid"><%= id_array_questions[number_questions] %></span>
  <% answer = Question.find_by(id: id_array_questions[number_questions]) %>
  <% if Question.find_by(id: id_array_questions[number_questions]).titlequestion %>
    <% aray_abcd = ["A: ", "B: ", "C: ", "D: "] %>
    <% xcount = 0 %>
    <% array_answer = [answer.answertrue, answer.answer2, answer.answer3, answer.answer4] %>

    <% aray_abcd.each do |answer_number| %>
    <% count = array_answer.size - 1 %>
    <% number = rand(0..count) %>
      <% if xcount.zero? or xcount.even? %>
        <div class="row">
      <% end %>
      <div class="answ col-md-6">
        <div class="spanansw">
          <span class ="variant"><strong><%= aray_abcd[xcount] %></strong></span>
          <span class ="answerspan"><%= array_answer[number] %></span>
        </div>
      </div>
      <% array_answer -= [array_answer[number]] %>
      <% if xcount.odd? %>
        </div>
      <% end %>
      <% xcount += 1 %>
    <% end %>
  <% end %>

  <!-- Скрытая форма для передачи ответа и вопроса -->
  <%= form_with(model: [@topic, @topic.answers.build], local: true) do |form| %>
    <span class="answerus">
      <%= form.text_field :answeruser, class: "hid" %>
    </span>
    <%= form.hidden_field :questionid, class: "answer_questionid", value: id_array_questions[number_questions] %>
    <%= form.hidden_field :userid, class: "answer_userid", value: idreg1 %>
    <%= form.hidden_field :usercode, class: "answer_usercode", value: current_username.encrypted_password %>
    <%= form.submit "Ответить", name: "add", class: "but-hid", id: "addbut"%>
  <% end %>

  <!-- Если в задании осталось больше одного вопроса, то выводим кнопку пропустить -->
  <% count = Answer.where(userid: idreg1, topic_id: topicid).count - Answer.where(userid: idreg1, topic_id: topicid, answeruser: nil).count %>
  <% count_questions = count_questions_topic - count %>
  <% if count_questions > 1 %>
    <%= form_with(model: [@topic, @topic.answers.build], local: true) do |form| %>
      <%= form.hidden_field :questionid, class: "answer_questionid", value: id_array_questions[number_questions] %>
      <%= form.hidden_field :userid, class: "answer_userid", value: idreg1 %>
      <%= form.hidden_field :usercode, class: "answer_usercode", value: current_username.encrypted_password %>
      <%= form.submit "Пропустить", name: "add", class: "nextbutton topic_button btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
