<!-- Узнаем id пользователя -->
<% if (username_signed_in?) %>
  <% idreg1 = current_username.id %>
<% end %>

<!-- Узнаем id тестового задания -->
<% topicid = @topic.id %>

<!-- Узнаем дату начала теста -->
<% datatest = @topic.consents.find_by(userid: idreg1).created_at %>

<!-- Узнаем количество правильных ответов -->
<% counttrue = Consent.find_by(userid: idreg1, topic_id: topicid).counttrue %>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Дата тестирования:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= datatest.strftime("%d.%m.%Y") %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Количество вопросов:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= @topic.countquestions%></h4>
    </div>
  </div>

  <!-- Если правильных ответов нет, то переменной присваеваем значение 0 -->
  <% counttrue ||= 0 %>
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Правильных ответов:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= counttrue %></h4>
    </div>
  </div>
  <!-- Находим последний ответ -->
  <% lastanswer = Answer.where(userid: idreg1, topic_id: topicid).last %>
  <!-- Дата начала -->
  <% firstanswer = Consent.find_by(userid: idreg1, topic_id: topicid).created_at %>
  <!-- Общее время в секундах -->
  <% totaltimesec = lastanswer.created_at.to_i - firstanswer.to_i %>
  <% totaltime = Consent.find_by(userid: idreg1, topic_id: topicid) %>

  <!-- Если количество вопросов равняется количеству в задании -->
  <% if Consent.find_by(userid: idreg1, topic_id: topicid).questionsall == @topic.countquestions %>
    <!-- Дата начала -->
    <% createdconsent = Consent.find_by(userid: idreg1, topic_id: topicid).created_at %>
    <!-- Дата окончания -->
    <% createdanswer = Answer.where(userid: idreg1, topic_id: topicid).last.created_at %>
    <!-- Время затраченное на ответы -->
    <% tansweruser = createdanswer - createdconsent %>
    <!-- Обновляем общее время -->
    <% totaltime.update(totaltime: tansweruser) %>
  <% end %>

  <% tth = Time.at(tansweruser).utc.strftime("%H") %>
  <% ttm = Time.at(tansweruser).utc.strftime("%M") %>
  <% tts = Time.at(tansweruser).utc.strftime("%S") %>

  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Время прохождения теста:</h4>
  </div>
    <div class="col-6 tbl-answer">
      <h4>
        <%= tth %> ч. <%= ttm %> мин. <%= tts %> сек.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Количество участников:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= Consent.where(topic_id: topicid).count %> </h4>
    </div>
  </div>

  <% counttrueconsent = Consent.where(topic_id: topicid) %>
  <!-- Узнаем максимальное количество правильных ответов -->
  <% counttruemax = counttrueconsent.maximum("counttrue") %>
  <!-- Узнаем минимальное время  -->
  <% totalt = Consent.where(topic_id: topicid, counttrue: counttruemax) %>
  <% totaltmin = totalt.minimum("totaltime") %>
  <% th = Time.at(totaltmin).utc.strftime("%H") %>
  <% tm = Time.at(totaltmin).utc.strftime("%M") %>
  <% ts = Time.at(totaltmin).utc.strftime("%S") %>

  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Лучший результат:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4>
        <% unless counttruemax.zero? %>
          <% counttruemaxnew = counttruemax.to_i % 100  %>
          <% if counttruemax < 20 and counttruemaxnew > 9 %>
            <%= counttruemax %> правильных ответов (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
          <% elsif 1 == counttruemaxnew %>
            <%= counttruemax %> правильный ответ (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
          <% elsif counttruemaxnew < 5 and counttruemaxnew > 1 %>
            <%= counttruemax %> правильных ответа (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
          <% else %>
            <%= counttruemax %> правильных ответов (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
          <% end %>
        <% end %>
      </h4>
    </div>
  </div>
<% position = 1 %>
<% @topic.consents.each do |topcon| %>
  <% if counttrue < topcon.counttrue %>
  <% position += 1 %>
<% end %>
<% if topcon.counttrue %>
  <% if counttrue == topcon.counttrue and totaltime.totaltime > topcon.totaltime %>
      <% position += 1 %>
  <% end %>
<% end %>

<% end %>
<div class="row">
  <div class="col-6 tbl-answer">
    <h4>Ваше место:</h4>
  </div>
    <div class="col-6 tbl-answer">
      <% if  Consent.find_by(topic_id: topicid, userid: idreg1).counttrue > 0 %>
  <h4># <%= position %></h4>
    <% else %>
    <h4> - </h4>
    <% end %>
  </div>
</div>
  <div class="row">
    <div class="col-12 tbl-answer">
      <% if @topic.sucquest > Consent.find_by(userid: idreg1, topic_id: topicid).counttrue %>
        <h4><%= @topic.failuremessage %></h4>
      <% else %>
          <h4><%= @topic.successmessage %></h4>
      <% end %>
    </div>
  </div>
</div>
