<!-- Узнаем id пользователя -->
<% if (username_signed_in?) %>
  <% idreg1 = current_username.id %>
<% end %>

<!-- Узнаем id задания -->
<% tid = @topic.id %>

<% stoptime = Consent.find_by(userid: idreg1, topic_id: tid).stoptime %>

<% @topic.answers.where(userid: idreg1).each do |answer| %>

  <% if answer.created_at > stoptime %>
    <% answer.destroy %>
  <% end %>
<% end %>
<% counttrue = Consent.find_by(userid: idreg1, topic_id: tid).counttrue %>
<% counttruedb = Answer.where(userid:idreg1, topic_id: tid , scoreanswer: '1').count %>
<% Consent.where(userid: idreg1, topic_id: tid ).update(counttrue: counttruedb) %>
<% counttrue ||= 0 %>
<% timeout = stoptime + 150 %>
<% if timeout > Time.new and Consent.find_by(userid: idreg1, topic_id: tid).questionsall != @topic.countquestions%>
  <p class="timeout"><strong>Время вышло!</strong></p>
<% end %>
<% datatest = @topic.consents.find_by(userid: idreg1).created_at %>

<!-- Выводим первые 3 места -->
<%= render "answers/mesto" %>

<!-- Выводим таблицу -->
<div class="container-fluid">
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Дата тестирования:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= datatest.strftime("%d.%m.%Y") %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Количество вопросов:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= @topic.countquestions%></h4>
    </div>
  </div>
<% counttrue ||= 0 %>
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Правильных ответов:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= counttrue %></h4>
    </div>
  </div>
<% lastanswer = Answer.where(userid: idreg1, topic_id: tid).last %>
<% firstanswer = Consent.find_by(userid: idreg1, topic_id: tid).created_at %>
<% totaltimesec = @topic.timetask %>
<% if totaltimesec != nil %>
  <% ttaskhour = totaltimesec.hour * 3600 %>
  <% ttaskmin = totaltimesec.min * 60 %>
  <% ttaskall = ttaskmin + ttaskhour %>
<% end %>
<% totaltime = Consent.find_by(userid: idreg1, topic_id: tid) %>

<% if Consent.find_by(userid: idreg1, topic_id: tid).questionsall != @topic.countquestions %>
  <% createdconsent = Consent.find_by(userid: idreg1, topic_id: tid).created_at %>

  <% if Answer.find_by(userid: idreg1, topic_id: tid) %>
    <% createdanswer = Answer.where(userid: idreg1, topic_id: tid).last.created_at %>
    <% tansweruser = createdanswer - createdconsent %>
    <% totaltime.update(totaltime: tansweruser) %>
  <% else %>
    <% totaltime.update(totaltime: ttaskall) %>
  <% end %>
<% else %>
  <% totaltime.update(totaltime: ttaskall) %>
<% end %>

<% tth = Time.at(ttaskall).utc.strftime("%H") %>
<% ttm = Time.at(ttaskall).utc.strftime("%M") %>
<% tts = Time.at(ttaskall).utc.strftime("%S") %>

<div class="row">
  <div class="col-6 tbl-answer">
    <h4>Время прохождения теста:</h4>
  </div>
  <div class="col-6 tbl-answer">
    <h4>
      <% if Consent.find_by(userid: idreg1, topic_id: tid).questionsall == @topic.countquestions %>
        <% createdconsent = Consent.find_by(userid: idreg1, topic_id: tid).created_at %>
        <!-- Дата окончания -->
        <% createdanswer = Answer.where(userid: idreg1, topic_id: tid).last.created_at %>
        <!-- Время затраченное на ответы -->
        <% tansweruser = createdanswer - createdconsent %>
        <!-- Обновляем общее время -->
        <% totaltime.update(totaltime: tansweruser) %>

        <% tth = Time.at(tansweruser).utc.strftime("%H") %>
        <% ttm = Time.at(tansweruser).utc.strftime("%M") %>
        <% tts = Time.at(tansweruser).utc.strftime("%S") %>
        <%= tth %> ч. <%= ttm %> мин. <%= tts %> сек.
      <% else %>
        <%= tth %> ч. <%= ttm %> мин. <%= tts %> сек.
      <% end %>
    </h4>
  </div>
</div>
  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Количество участников:</h4>
    </div>
    <div class="col-6 tbl-answer">
      <h4><%= Consent.where(topic_id: tid).count %> </h4>
    </div>
  </div>
  <% counttrueconsent = Consent.where(topic_id: tid) %>
  <% counttruemax = counttrueconsent.maximum("counttrue") %>
  <% totalt = Consent.where(topic_id: tid, counttrue: counttruemax) %>
  <% totaltmin = totalt.minimum("totaltime") %>

  <% th = Time.at(totaltmin).utc.strftime("%H") %>
  <% tm = Time.at(totaltmin).utc.strftime("%M") %>
  <% ts = Time.at(totaltmin).utc.strftime("%S") %>

  <div class="row">
    <div class="col-6 tbl-answer">
      <h4>Лучший результат:</h4>
    </div>
  <div class="col-6 tbl-answer">
    <h4>
      <% unless counttruemax.zero? %>
        <% counttruemaxnew = counttruemax.to_i % 100  %>
        <% if counttruemax < 19 and counttruemaxnew > 10 %>
          <%= counttruemax %> правильных ответов (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
        <% elsif 1 == counttruemaxnew %>
          <%= counttruemax %> правильный ответ (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
        <% elsif counttruemaxnew < 5 and counttruemaxnew > 1 %>
          <%= counttruemax %> правильных ответа (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
        <% else %>
          <%= counttruemax %> правильных ответов (<%= th %> ч. <%= tm %> мин. <%= ts %> сек.)
        <% end %>
      <% end %>
    </h4>
  </div>
  </div>
    <% position = 1 %>
    <% @topic.consents.each do |topcon| %>
      <% if counttrue < topcon.counttrue %>
        <% position += 1 %>
      <% end %>
      <% if counttrue == topcon.counttrue and totaltime.totaltime > topcon.totaltime %>
        <% position += 1 %>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-6 tbl-answer">
        <h4>Ваше место:</h4>
      </div>
      <div class="col-6 tbl-answer">
        <% if  Consent.find_by(topic_id: tid, userid: idreg1).counttrue > 0 %>
          <h4># <%= position %></h4>
        <% else %>
          <h4> - </h4>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 tbl-answer">
        <% if @topic.sucquest > Consent.find_by(userid: idreg1, topic_id: tid).counttrue %>
          <h4><%= @topic.failuremessage %></h4>
        <% else %>
          <h4><%= @topic.successmessage %></h4>
        <% end %>
      </div>
    </div>
</div>
<br>

<%= link_to "Подробнее",  "/test_task/" %>
