<% if (username_signed_in?) %><% idreg1 = current_username.id %>
  <% br = [1,2,3,4,5] %>
  <% br.delete_at(0)%>
  <% br[0]%>
  <% topicid1 = @topic.id %>
    <% if @topic.intdate2 %>
      <% findate = @topic.intdate2 %>
    <% else %>
      <% findate = Time.new + 90000 %>
    <% end %>
  <% if @topic.intdate1 < Time.new and findate > Time.new or Consent.find_by(userid: idreg1, topic_id: topicid1) != nil %>
    <% if @topic.activ == "Выкл." and Consent.find_by(userid: idreg1, topic_id: topicid1) == nil %>
      <p>Тестовое задание "<%= @topic.titletopic %>" не запущено или остановлено.</p>
    <% else %>
    <% if @topic.countquestions > @topic.questions.count %>
      <% addcount = @topic.countquestions - @topic.questions.count %>
      <% if addcount == 1 or addcount == 21 or addcount == 31 or addcount == 41 or addcount == 51 or addcount == 61 or addcount == 71 or addcount == 81 or addcount == 91%>
        <% qs = "вопрос" %>
      <% elsif addcount > 1 and addcount < 5 or addcount > 21 and addcount < 25 or addcount > 31 and addcount < 35 or addcount > 41 and addcount < 45 or addcount > 51 and addcount < 55 %>
        <% qs = "вопросa" %>
      <% elsif addcount > 4 and addcount < 21 or addcount > 24 and addcount < 31 or addcount > 34 and addcount < 41 or addcount > 44 and addcount < 51 or addcount > 54 and addcount < 61%>
        <% qs = "вопросов" %>
      <% elsif addcount > 61 and addcount < 65 or addcount > 71 and addcount < 75 or addcount > 81 and addcount < 85 or addcount > 91 and addcount < 95 %>
        <% qs = "вопросa" %>
      <% elsif addcount > 64 and addcount < 71 or addcount > 74 and addcount < 81 or addcount > 94 and addcount < 101%>
        <% qs = "вопросов" %>
      <% else %>
        <% qs = "вопросов(а)" %>
      <% end %>
      <p>Создано недостаточное количество вопросов в тесте "<%= @topic.titletopic %>". Для запуска тестового задания нужно добавить еще <%= addcount %> <%= qs %>.</p>
  <% else %>
  <% if @topic.password ==""%>
    <% if Consent.find_by(userid: idreg1, topic_id: topicid1) == nil %>
      <%= render "consents/pravila" %>
    <% else %>
    <% if (username_signed_in?) %>
      <h1>Тестовое задание "<%= @topic.titletopic %>"</h1>
      <% datecreadtopic = @topic.created_at %>
      <% usercreatid = @topic.idreg %>
      <% creatordb = Creator.find_by(idreg: usercreatid) %>
      <% #creatordb.namecreator %>
      <p>
        <h6>id: <%= @topic.id %> | Создатель: <%= creatordb.namecreator %> <%= creatordb.surnamecreator %> | <%= datecreadtopic.strftime("%d.%m.%Y") %></h6>
      </p>
      <% datestop = Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime %>
      <% currentdate = Time.new %>
      <% finishtime = (datestop - currentdate) %>
      <div class = "topinfoblock">
        <strong>
          <span id="my_timers"><%= Time.at(finishtime).utc.strftime("%H:%M:%S") %></span> |
          <%= javascript_pack_tag 'timer', 'data-turbolinks-track': 'reload' %>
          <span><%= Answer.where(topic_id: topicid1, userid: idreg1).count %></span>:<span><%= Question.where(topic_id: topicid1).count %></span>
        </strong>
      </div>

      <% cnt = @topic.questions.count %>
      <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>
        <% if Consent.find_by(userid: idreg1) != nil %>
          <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime == nil %>
            <% timetask = Topic.find_by(id: topicid1).timetask %>
            <% if timetask != nil %>
              <% ttaskhour = timetask.hour * 3600 %>
              <% ttaskmin = timetask.min * 60 %>
              <% ttaskall = ttaskmin + ttaskhour %>
              <% tcreat = Consent.find_by(userid: idreg1, topic_id: topicid1).created_at %>
              <% stoptime = tcreat + ttaskall %>
              <% Consent.find_by(userid: idreg1, topic_id: topicid1).update(stoptime: stoptime) %>
            <% end %>
          <% end %>
          <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime != nil %>
            <% stoptime = Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime %>
          <% end %>
        <% end %>
        <% stoptime.to_f %>
        <% datetime = Time.now.to_f %>
        <% if stoptime.to_f > datetime.to_f %>
          <% cnty = cnt-1 %>
          <% topicid = @topic.id %>
          <%= render "answers/questionsall_consent" %>
          <%= render "answers/proverka_scoreanswer" %>
          <%= render "answers/count_true_answer" %>
          <% if Consent.first != nil %>
            <%= render "answers/rand_answers" %>
          <% end %>
          <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>
          <% if Consent.find_by(userid: idreg1, topic_id: topicid) != nil %>
            <% stoptimeconsent = Consent.find_by(userid: idreg1, topic_id: topicid).stoptime %>
          <% end %>
          <% if Answer.find_by(userid:idreg1, topic_id: topicid) %>
            <% createdanswer = Answer.where(userid: idreg1, topic_id: topicid).last.created_at %>
          <% end %>
          <%= link_to "Подробнее!!!",  "/test_task/" %>
        <% else %>
            <%= render "answers/time_out" %>
        <% end %>
      <% else %>
        <%= render "answers/forma_reg" %>
      <% end %>
    <% end %>
  <% end %>
  <% if @topic.password !="" %>
    <% if @topic.passwords.find_by(userid: idreg1) == nil %>
      <%= render "answers/password_form" %>
    <% end %>
    <% if @topic.passwords.find_by(userid: idreg1) != nil %>
      <% if @topic.password == @topic.passwords.where(userid: idreg1).last.pasanswer %>
        <% if Consent.find_by(userid: idreg1, topic_id: topicid1) == nil %>
          <%= render "consents/pravila" %>
        <% else %>
          <% if (username_signed_in?) %>
            <h1>Ответы</h1>
            <% cnt = @topic.questions.count %>
            <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>
            <% if Consent.find_by(userid: idreg1) != nil %>
              <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime == nil %>
              <% timetask = Topic.find_by(id: topicid1).timetask %>
                <% if timetask != nil %>
                  <% ttaskhour = timetask.hour * 3600 %>
                  <% ttaskmin = timetask.min * 60 %>
                  <% ttaskall = ttaskmin + ttaskhour %>
                  <% tcreat = Consent.find_by(userid: idreg1, topic_id: topicid1).created_at %>
                  <% stoptime = tcreat + ttaskall %>
                  <% Consent.find_by(userid: idreg1, topic_id: topicid1).update(stoptime: stoptime) %>
                <% end %>
              <% end %>
              <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime != nil %>
                <% stoptime = Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime %>
              <% end %>
            <% end %>
            <% stoptime.to_f %>
            <% datetime = Time.now.to_f %>
            <% if stoptime.to_f > datetime.to_f %>
              <% cnty = cnt-1 %>
              <% topicid = @topic.id %>
              <%= render "answers/questionsall_consent" %>
              <% if Consent.first != nil %>
                <% if Consent.find_by(userid: idreg1).questionsall == cnt %>
                  <p>Вы уже проходили этот тест</p>
                <% end %>
                <% questionsall=Consent.find_by(userid: idreg1).questionsall %>
                <% numberrand = 0 + questionsall %>
                <% numberanswer = rand(0..6) %>
                <% if Consent.find_by(userid: idreg1).questionsall < cnt %>
                  <%= render "answers/proverka_scoreanswer" %>
                  <%= render "answers/count_true_answer" %>
                  <%= render "answers/rand_answers" %>
                <% end %>
                <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>
                <% if Consent.find_by(userid: idreg1, topic_id: topicid) != nil %>
                  <% stoptimeconsent = Consent.find_by(userid: idreg1, topic_id: topicid).stoptime %>
                <% end %>
                <% if Answer.find_by(userid:idreg1, topic_id: topicid) %>
                  <% createdanswer = Answer.where(userid:idreg1, topic_id: topicid).last.created_at %>
                <% end %>
                <%= link_to "Подробнее!!!",  "/test_task/" %>
              <% else %>
                <%= render "answers/time_out" %>
              <% end %>
            <% else %>
              <%= render "answers/forma_reg" %>
            <% end %>
          <% end %>
        <% end %>
        <% if @topic.password != @topic.passwords.where(userid: idreg1).last.pasanswer %>
          <% if @topic.passwords.where(userid: idreg1).count > 2 %>
            <% timecreated = @topic.passwords.where(userid: idreg1).last.created_at %>
            <% timefinal = timecreated + 1800 %>
            <% time2 = Time.now %>
            <% if timefinal.to_f > time2.to_f %>
              <p>Вы 3 раза (или более раз) не правильно ввели пароль.</p>
              <p>Повторная попытка будет доступна в <%= timefinal.hour %>-<%= timefinal.min %> (Мск)</p>
            <% else %>
              <%= render "answers/password_form" %>
            <% end %>
          <% else %>
            <p>Ошибка: пароль введен не верный! </p>
            <%= render "answers/password_form" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% end %>
<% else %>
  <% if @topic.intdate1 > Time.new %>
    <p>Тестовое задание будет доступно <%= @topic.intdate1.strftime("%d.%m.%Y %H:%M") %> (Мск)</p>
  <% else %>
    <p>Тестовое задание было остановлено <%= @topic.intdate2.strftime("%d.%m.%Y %H:%M") %> (Мск)</p>
  <% end %>
<% end %>
<% end %>
<script type="text/javascript">
  $( document ).on('turbolinks:load', function() {
    $(".answ").on("click", function(){
      var element = $(this).find(".answerspan").text();
      $(".spanansw").css("background-color", "#ced2d8");
      $(this).find(".spanansw").css("background-color", "#1ea076");
      $("#answer_answeruser").val(element);
      var hid = $(".hid").text();
      $("#answer_questionid").val(hid);
      $(".but-hid").removeClass();
    });
  });
</script>
<script>
  $(document).on('turbolinks:load', function() {
    $("a").attr("data-turbolinks", "false");
  });
</script>
