<!-- Проверяем авторизацию пользователя -->
<% if (username_signed_in?) %><% idreg1 = current_username.id %>

<!-- Основной блок -->

  <!-- Узнаем id темы тестового задания -->
  <% topicid1 = @topic.id %>

  <!-- Узнаем дату окончания показа тестового задания -->
  <% if @topic.intdate2 %>
    <% findate = @topic.intdate2 %>
  <% else %>
    <% findate = Time.new + 90000 %>
  <% end %>

  <!-- Если текущая дата больше даты старта показов и меньше даты окончания, то показываем этот блок   -->
  <% if @topic.intdate1 < Time.new and findate > Time.new or Consent.find_by(userid: idreg1, topic_id: topicid1) != nil %>

    <!-- Проверяем активность тестового задания   -->
    <% if @topic.activ == "Выкл." and Consent.find_by(userid: idreg1, topic_id: topicid1) == nil %>
      <p>Тестовое задание "<%= @topic.titletopic %>" не запущено или остановлено.</p>
    <% else %>

    <!-- Если количество вопросов созданых меньше, чем указано в настройках, то показываем сообщение "Создано недостаточное количество вопросов"  -->
    <% if @topic.countquestions > @topic.questions.count %>
      <% addcount = @topic.countquestions - @topic.questions.count %>
      <% if addcount == 1 or addcount == 21 or addcount == 31 or addcount == 41 or addcount == 51 or addcount == 61 or addcount == 71 or addcount == 81 or addcount == 91%>
        <% qs = "вопрос" %>
      <% elsif addcount > 1 and addcount < 5 or addcount > 21 and addcount < 25 or addcount > 31 and addcount < 35 or addcount > 41 and addcount < 45 or addcount > 51 and addcount < 55 %>
        <% qs = "вопросa" %>
      <% elsif addcount > 4 and addcount < 21 or addcount > 24 and addcount < 31 or addcount > 34 and addcount < 41 or addcount > 44 and addcount < 51 or addcount > 54 and addcount < 61%>
        <% qs = "вопросов" %>
      <% elsif addcount > 61 and addcount < 65 or addcount > 71 and addcount < 75 or addcount > 81 and addcount < 85 or addcount > 91 and addcount < 95 %>
        <% qs = "вопросa" %>
      <% elsif addcount > 64 and addcount < 71 or addcount > 74 and addcount < 81 or addcount > 94 and addcount < 101%>
        <% qs = "вопросов" %>
      <% else %>
        <% qs = "вопросов(а)" %>
      <% end %>
      <p>Создано недостаточное количество вопросов в тесте "<%= @topic.titletopic %>". Для запуска тестового задания нужно добавить еще <%= addcount %> <%= qs %>.</p>
  <% else %>

  <!-- Если пароль отсутствует   -->
  <% if @topic.password ==""%>
    <%= render "answers/for_test" %>
  <% end %>

  <!-- Если пароль существует -->
  <% if @topic.password !="" %>

  <!-- выводим форму ввода пароля -->
    <% if @topic.passwords.find_by(userid: idreg1) == nil %>
      <%= render "answers/password_form" %>
    <% end %>

    <!-- Сравниваем пароли -->
    <% if @topic.passwords.find_by(userid: idreg1) != nil %>
      <% if @topic.password == @topic.passwords.where(userid: idreg1, topic_id: topicid1).last.pasanswer %>
        <% topic_contact = topicid1.to_s + "t" + idreg1.to_s %>
        <% unless $compare_password.get topic_contact %>

          <% $compare_password.set topic_contact, "ok" %>
          <% $compare_password.expire topic_contact, 28800 %>
          <% time_pass = @topic.passwords.where(userid: idreg1, topic_id: topicid1).last.created_at %>
          <% Consent.where(userid: idreg1, topic_id: topicid1).update(created_at: time_pass) %>
        <% end %>
        <%= render "answers/for_test" %>
        <% else %>

          <!-- Проверяем количество раз введения пароля -->
          <% if @topic.password != @topic.passwords.where(userid: idreg1).last.pasanswer %>
            <% if @topic.passwords.where(userid: idreg1).count > 2 %>
              <% timecreated = @topic.passwords.where(userid: idreg1).last.created_at %>
              <% timefinal = timecreated + 1800 %>
              <% time2 = Time.now %>
              <% if timefinal.to_f > time2.to_f %>
                <p>Вы 3 раза (или более раз) не правильно ввели пароль.</p>
                <p>Повторная попытка будет доступна в <%= timefinal.hour %>-<%= timefinal.min %> (Мск)</p>
              <% else %>

                <!-- Выводим форму пароля -->
                <%= render "answers/password_form" %>
              <% end %>
            <% else %>

              <!-- Выводим форму пароля при ошибке -->
              <p>Ошибка: пароль введен не верный! </p>
              <%= render "answers/password_form" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% end %>
<% else %>

  <!-- Проверка доступности тестового задания по времени -->
  <% if @topic.intdate1 > Time.new %>
    <p>Тестовое задание будет доступно <%= @topic.intdate1.strftime("%d.%m.%Y %H:%M") %> (Мск)</p>
  <% else %>
    <p>Тестовое задание было остановлено <%= @topic.intdate2.strftime("%d.%m.%Y %H:%M") %> (Мск)</p>
  <% end %>
<% end %>

<!-- Скрипты -->
<script type="text/javascript">
  $( document ).on('turbolinks:load', function() {
    $(".answ").on("click", function(){
      var element = $(this).find(".answerspan").text();
      $(".spanansw").css("background-color", "#ced2d8");
      $(this).find(".spanansw").css("background-color", "#1ea076");
      $("#answer_answeruser").val(element);
      var hid = $(".hid").text();
      $(".answer_questionid").val(hid);
      $(".but-hid").removeClass().addClass("btn btn-primary");
      $(".nextbutton").remove();
    });
  });
</script>
<script>
  $(document).on('turbolinks:load', function() {
    $("a").attr("data-turbolinks", "false");
  });
</script>
