<!-- Проверяем авторизацию пользователя -->
<% if (username_signed_in?) %><% idreg1 = current_username.id %>

<!-- Основной блок -->

  <!-- Узнаем id темы тестового задания -->
  <% topicid1 = @topic.id %>

    <!-- Узнаем дату окончания показа тестового задания -->
    <% if @topic.intdate2 %>
      <% findate = @topic.intdate2 %>
    <% else %>
      <% findate = Time.new + 90000 %>
    <% end %>

  <!-- Если текущая дата больше даты старта показов и меньше даты окончания, то показываем этот блок   -->
  <% if @topic.intdate1 < Time.new and findate > Time.new or Consent.find_by(userid: idreg1, topic_id: topicid1) != nil %>

    <!-- Проверяем активность тестового задания   -->
    <% if @topic.activ == "Выкл." and Consent.find_by(userid: idreg1, topic_id: topicid1) == nil %>
      <p>Тестовое задание "<%= @topic.titletopic %>" не запущено или остановлено.</p>
    <% else %>

    <!-- Если количество вопросов созданых меньше, чем указано в настройках, то показываем сообщение "Создано недостаточное количество вопросов"  -->
    <% if @topic.countquestions > @topic.questions.count %>
      <% addcount = @topic.countquestions - @topic.questions.count %>
      <% if addcount == 1 or addcount == 21 or addcount == 31 or addcount == 41 or addcount == 51 or addcount == 61 or addcount == 71 or addcount == 81 or addcount == 91%>
        <% qs = "вопрос" %>
      <% elsif addcount > 1 and addcount < 5 or addcount > 21 and addcount < 25 or addcount > 31 and addcount < 35 or addcount > 41 and addcount < 45 or addcount > 51 and addcount < 55 %>
        <% qs = "вопросa" %>
      <% elsif addcount > 4 and addcount < 21 or addcount > 24 and addcount < 31 or addcount > 34 and addcount < 41 or addcount > 44 and addcount < 51 or addcount > 54 and addcount < 61%>
        <% qs = "вопросов" %>
      <% elsif addcount > 61 and addcount < 65 or addcount > 71 and addcount < 75 or addcount > 81 and addcount < 85 or addcount > 91 and addcount < 95 %>
        <% qs = "вопросa" %>
      <% elsif addcount > 64 and addcount < 71 or addcount > 74 and addcount < 81 or addcount > 94 and addcount < 101%>
        <% qs = "вопросов" %>
      <% else %>
        <% qs = "вопросов(а)" %>
      <% end %>
      <p>Создано недостаточное количество вопросов в тесте "<%= @topic.titletopic %>". Для запуска тестового задания нужно добавить еще <%= addcount %> <%= qs %>.</p>
  <% else %>

  <!-- Если пароль отсутствует   -->
  <% if @topic.password ==""%>

    <!-- Показываем правила перед прохождением теста   -->
    <% if Consent.find_by(userid: idreg1, topic_id: topicid1) == nil %>
      <%= render "consents/pravila" %>
    <% else %>

    <!-- ПОКАЗЫВАЕМ ТЕСТОВОЕ ЗАДАНИЕ   -->
    <% if (username_signed_in?) %>
      <h1>Тестовое задание "<%= @topic.titletopic %>"</h1>

      <!-- выводим id задания, создателя, и дату создания тестового задания   -->
      <% datecreadtopic = @topic.created_at %>
      <% usercreatid = @topic.idreg %>
      <% creatordb = Creator.find_by(idreg: usercreatid) %>
      <h6>id: <%= @topic.id %> | Создатель: <%= creatordb.namecreator %> <%= creatordb.surnamecreator %> | <%= datecreadtopic.strftime("%d.%m.%Y") %></h6>
      <br>

      <% cnt = @topic.questions.count %>

      <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>

        <!-- Если время окончания показов еще не задано, то задаем время окончания показов в базе данных  -->
        <% if Consent.find_by(userid: idreg1, topic_id: topicid1) != nil %>
          <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime == nil %>
            <% timetask = Topic.find_by(id: topicid1).timetask %>
            <% if timetask != nil %>
              <% ttaskhour = timetask.hour * 3600 %>
              <% ttaskmin = timetask.min * 60 %>
              <% ttaskall = ttaskmin + ttaskhour %>
              <% tcreat = Consent.find_by(userid: idreg1, topic_id: topicid1).created_at %>
              <% stoptime = tcreat + ttaskall %>
              <% Consent.find_by(userid: idreg1, topic_id: topicid1).update(stoptime: stoptime) %>
            <% end %>
          <% end %>

          <!-- Узнаем время окончания показов и выводим таймер и количество ответов на вопросы   -->
          <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime %>
          <% datestop = Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime %>
          <% currentdate = Time.new %>
          <% finishtime = (datestop - currentdate) %>
          <% countanswer = Answer.where(topic_id: topicid1, userid: idreg1).count %>
          <% countquestion = Question.where(topic_id: topicid1).count %>
          <% if countanswer < countquestion %>
            <div class = "topinfoblock">
              <strong>
                <span id="my_timers"><%= Time.at(finishtime).utc.strftime("%H:%M:%S") %></span> |
                <%= javascript_pack_tag 'timer', 'data-turbolinks-track': 'reload' %>
                <span><%= countanswer %></span>:<span><%= countquestion %></span>
              </strong>
            </div>
          <% end %>
          <% end %>

          <!-- Задаем переменную окончания показов  -->
          <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime != nil %>
            <% stoptime = Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime %>
          <% end %>
        <% end %>

        <!-- Если текущее время меньше даты окончания показов тестового задания, то выводим этот блок -->
        <% stoptime.to_f %>
        <% datetime = Time.now.to_f %>
        <% if stoptime.to_f > datetime.to_f %>
          <% cnty = cnt-1 %>
          <% topicid = @topic.id %>

          <!-- Количество вопросов -->
          <%= render "answers/questionsall_consent" %>

          <!-- Отмечаем правильные ответы -->
          <%= render "answers/proverka_scoreanswer" %>

          <!-- Подсчет правильных ответов -->
          <%= render "answers/count_true_answer" %>

          <!-- ВЫВОДИМ ВОПРОСЫ И ВАРИНТЫ ОТВЕТОВ -->
          <% if Consent.first != nil %>
            <%= render "answers/rand_answers" %>
          <% end %>

          <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>

          <!-- ??? -->
          <% if Consent.find_by(userid: idreg1, topic_id: topicid) != nil %>
            <% stoptimeconsent = Consent.find_by(userid: idreg1, topic_id: topicid).stoptime %>
          <% end %>

          <!-- Узнаем дату последнего ответа -->
          <% if Answer.find_by(userid:idreg1, topic_id: topicid) %>
            <% createdanswer = Answer.where(userid: idreg1, topic_id: topicid).last.created_at %>
          <% end %>
        <% else %>
            <!-- Выводим если время вышло -->
            <% if Consent.find_by(userid: idreg1, topic_id: topicid).questionsall != @topic.countquestions and stoptime < Time.now %>
              <%= render "answers/time_out" %>
            <% end %>
        <% end %>
      <% else %>
        <!-- Выводим форму для входа -->
        <%= render "answers/forma_reg" %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Если пароль существует -->
  <% if @topic.password !="" %>

  <!-- выводим форму ввода пароля -->
    <% if @topic.passwords.find_by(userid: idreg1) == nil %>
      <%= render "answers/password_form" %>
    <% end %>

    <!-- Сравниваем пароли -->
    <% if @topic.passwords.find_by(userid: idreg1) != nil %>
      <% if @topic.password == @topic.passwords.where(userid: idreg1, topic_id: topicid1).last.pasanswer %>

      <!-- Показываем правила перед прохождением теста   -->
        <% if Consent.find_by(userid: idreg1, topic_id: topicid1) == nil %>
          <%= render "consents/pravila" %>
        <% else %>

        <!-- ПОКАЗЫВАЕМ ТЕСТОВОЕ ЗАДАНИЕ   -->
          <% if (username_signed_in?) %>
            <h1>Тестовое задание "<%= @topic.titletopic %>"</h1>

            <!-- выводим id задания, создателя, и дату создания тестового задания   -->
            <% datecreadtopic = @topic.created_at %>
            <% usercreatid = @topic.idreg %>
            <% creatordb = Creator.find_by(idreg: usercreatid) %>
            <h6>id: <%= @topic.id %> | Создатель: <%= creatordb.namecreator %> <%= creatordb.surnamecreator %> | <%= datecreadtopic.strftime("%d.%m.%Y") %></h6>
            <br>

            <% cnt = @topic.questions.count %>
            <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>

            <!-- Узнаем время окончания показов и выводим таймер и количество ответов на вопросы   -->
            <% if Consent.find_by(userid: idreg1) != nil %>
              <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime == nil %>
              <% timetask = Topic.find_by(id: topicid1).timetask %>
                <% if timetask != nil %>
                  <% ttaskhour = timetask.hour * 3600 %>
                  <% ttaskmin = timetask.min * 60 %>
                  <% ttaskall = ttaskmin + ttaskhour %>
                  <% tcreat = Consent.find_by(userid: idreg1, topic_id: topicid1).created_at %>
                  <% stoptime = tcreat + ttaskall %>
                  <% Consent.find_by(userid: idreg1, topic_id: topicid1).update(stoptime: stoptime) %>
                <% end %>
              <% end %>

              <!-- ???  -->
              <% if Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime != nil %>
                <% stoptime = Consent.find_by(userid: idreg1, topic_id: topicid1).stoptime %>
              <% end %>
            <% end %>

            <!-- Если текущее время меньше даты окончания показов тестового задания, то выводим этот блок -->
            <% stoptime.to_f %>
            <% datetime = Time.now.to_f %>
            <% if stoptime.to_f > datetime.to_f %>
              <% cnty = cnt-1 %>
              <% topicid = @topic.id %>

              <!-- Количество вопросов -->
              <%= render "answers/questionsall_consent" %>

              <!-- Если количество ответов равно количеству вопросов, то выводим этот блок ???? -->
              <% if Consent.first != nil %>
                <% if Consent.find_by(userid: idreg1, topic_id: topicid1).questionsall == cnt %>
                  <p>Вы уже проходили этот тест</p>
                <% end %>

                <!-- Создаем переменную с количеством вопросов -->
                <% questionsall = Consent.find_by(userid: idreg1, topic_id: topicid1).questionsall %>
                <% #numberrand = 0 + questionsall %>
                <% #numberanswer = rand(0..6) %>


                <% if Consent.find_by(userid: idreg1, topic_id: topicid1).questionsall < cnt %>
                  <!-- Отмечаем правильные ответы -->
                  <%= render "answers/proverka_scoreanswer" %>
                  <!-- Подсчет правильных ответов -->
                  <%= render "answers/count_true_answer" %>
                  <!-- ВЫВОДИМ ВОПРОСЫ И ВАРИНТЫ ОТВЕТОВ -->
                  <%= render "answers/rand_answers" %>
                <% end %>

                <!-- Задаем переменную окончания показов  -->
                <% if (username_signed_in?) %><% idreg1 = current_username.id %><% end %>
                <% if Consent.find_by(userid: idreg1, topic_id: topicid) != nil %>
                  <% stoptimeconsent = Consent.find_by(userid: idreg1, topic_id: topicid).stoptime %>
                <% end %>
                <% if Answer.find_by(userid:idreg1, topic_id: topicid) %>
                  <% createdanswer = Answer.where(userid:idreg1, topic_id: topicid).last.created_at %>
                <% end %>
              <% else %>

                <!-- Если время закончилось  -->
                <% if Consent.find_by(userid: idreg1, topic_id: tid).questionsall != @topic.countquestions and stoptime < Time.now %>
                  <%= render "answers/time_out" %>
                <% end %>

              <% end %>
            <% else %>

              <!-- Выводим форму для входа -->
              <%= render "answers/forma_reg" %>
            <% end %>
          <% end %>
        <% end %>

        <!-- Проверяем количество раз введения пароля -->
        <% if @topic.password != @topic.passwords.where(userid: idreg1).last.pasanswer %>
          <% if @topic.passwords.where(userid: idreg1).count > 2 %>
            <% timecreated = @topic.passwords.where(userid: idreg1).last.created_at %>
            <% timefinal = timecreated + 1800 %>
            <% time2 = Time.now %>
            <% if timefinal.to_f > time2.to_f %>
              <p>Вы 3 раза (или более раз) не правильно ввели пароль.</p>
              <p>Повторная попытка будет доступна в <%= timefinal.hour %>-<%= timefinal.min %> (Мск)</p>
            <% else %>

              <!-- Выводим форму пароля -->
              <%= render "answers/password_form" %>
            <% end %>
          <% else %>

            <!-- Выводим форму пароля при ошибке -->
            <p>Ошибка: пароль введен не верный! </p>
            <%= render "answers/password_form" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% end %>
<% else %>

  <!-- Проверка доступности тестового задания по времени -->
  <% if @topic.intdate1 > Time.new %>
    <p>Тестовое задание будет доступно <%= @topic.intdate1.strftime("%d.%m.%Y %H:%M") %> (Мск)</p>
  <% else %>
    <p>Тестовое задание было остановлено <%= @topic.intdate2.strftime("%d.%m.%Y %H:%M") %> (Мск)</p>
  <% end %>
<% end %>
<% end %>

<!-- Скрипты JS -->
<script type="text/javascript">
  $( document ).on('turbolinks:load', function() {
    $(".answ").on("click", function(){
      var element = $(this).find(".answerspan").text();
      $(".spanansw").css("background-color", "#ced2d8");
      $(this).find(".spanansw").css("background-color", "#1ea076");
      $("#answer_answeruser").val(element);
      var hid = $(".hid").text();
      $("#answer_questionid").val(hid);
      $(".but-hid").removeClass();
    });
  });
</script>
<script>
  $(document).on('turbolinks:load', function() {
    $("a").attr("data-turbolinks", "false");
  });
</script>
