<h2>Правила</h2>
<p><strong>Юзер id: </strong><%= @consent.userid %></p>
<p><strong>Юзер id: </strong><%= @consent.stoptime %></p>
<p><strong>Количество правильных ответов: </strong><%= @consent.counttrue %></p>
<p><strong>Затрачено времени: </strong><%= @consent.totaltime %></p>
<p><strong>Количество ответов на вопросы: </strong><%= @consent.questionsall %></p>
