<% if username_signed_in? %>
  <% useridname = current_username.id %>
  <% time_last = Time.now - 604800 %>
  <!-- -->
  <% Linktask.all.each do |linktaskdel| %>
    <% if linktaskdel.created_at < time_last %>
      <% linktaskdel.destroy %>
    <% end %>
  <% end %>
  <!-- -->
  <h1>Ссылки</h1>
  <h4>За последнюю неделю</h4>


  <table class ="task-tabl">

    <% if @links %>
      <tr class="gl-zag-tabl">
        <th>Ссылка</th>
        <th>От кого</th>
        <th>Дата</th>
      </tr>
    <% else %>
      <p>С вами никто не поделился ссылкой.<p>
    <% end %>

      <% @links.each do |link| %>
        <tr class = "borderquestabl backgroundtabl">
          <% id = link.topicid %>
          <% idcreator = link.idcreator %>
          <% if link.viewlinks == "y" %>
            <% nameclass = "viewlink_class" %>
          <% else%>
            <% nameclass = "link_strong" %>
          <% end %>
            <% if Topic.find_by(id: id) %>
              <td>
                <h6 class = "<%= nameclass %>">
                  <a href="/topics/<%= id %>/consents/new"><%= Topic.find_by(id: id).titletopic %></a>
                  <% if Topic.find_by(id: id).password != "" %>
                    <div>Пароль: <%= Topic.find_by(id: id).password %></div>
                  <% end %>
                </h6>
              </td>
              <% if Creator.find_by(idreg: idcreator) %>
                <td>
                  <h6 class = "<%= nameclass %>">
                    <%= Creator.find_by(idreg: idcreator).namecreator %> <%= Creator.find_by(idreg: idcreator).surnamecreator %>
                  </h6>
                </td>
                <% else %>
                <td><h6 class = "<%= nameclass %>"> - </h6></td>
            <% end %>
            <td><h6 class = "<%= nameclass %>"><%= link.created_at.strftime("%d.%m.%y %H:%M") %></h6></td>
            <% end %>
            </tr>

    <% end %>
  </table>

  <%= paginate @links %>
<% end %>
