<div class="container">
<h1>Редактировать личные данные</h1>
<%= form_with model: @creator, url: creator_path, local: true do |form|  %>
  <% if @creator.errors.any? %>
    <div id="error_explanation">
      <h2>
        <% er=@creator.errors.count %>
        <% if er>0 %>
        <span class="formerrors">Форма заполнена неправильно</span>
        <% end %>
      </h2>
      <% if @creator.errors[:photocreator] %>
        <p>Проверьте загружаемое изображение, размер файла не должен быть больше 1 Мб. Для загрузки используйте изображения в фомате .png, .jpg и .gif. </p>
      <% end %>
    </div>
  <% end %>
    <%= image_tag @creator.photocreator.url(:thumb), class: "photoprofile" if @creator.photocreator?%>
    <p class="inputphotocreator"><%= form.file_field :photocreator %></p>
    <hr>
    <div class="row">
      <div class="form-group col-lg-6 col-sm-12">
        <%= form.label :name, "Имя" %><br><%= form.text_field :namecreator, class: "w100" %>
      </div>
      <div class="form-group col-lg-6 col-sm-12">
        <%= form.label :surname, "Фамилия" %><br><%= form.text_field :surnamecreator, class: "w100" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-lg-4 col-sm-12">
        <%= form.label :telephone, "Телефон" %><br><%= form.text_field :telephonecreator, class: "w100" %>
      </div>
      <div class="form-group col-lg-4 col-sm-12">
        <%= form.label :company, "Компания" %><br><%= form.text_field :companycreator, class: "w100" %>
      </div>
      <div class="form-group col-lg-4 col-sm-12">
        <%= form.label :promocode, "Промокод" %><br><%= form.text_field :promocodecreator, class: "w100" %>
      </div>
    </div>
    <hr>
    <%= form.hidden_field :idreg, id: "creator_idreg", value: current_user.id %>
    <%= form.hidden_field :codecreator, value: current_user.encrypted_password %>
    <p><%= form.submit "Сохранить", class: "topic_button btn btn-primary" %></p>
<% end %>
<p><a href="/profile">Назад</a></p>
</div>
<% rr = Dir.children("public/uploads/tmp/")%>
<% contrr = rr.count %>
<% contrr = (contrr-1)%>
<% for i in 0..contrr %>
<% x = Dir.children("public/uploads/tmp/#{rr[i]}")%>
<% x.each do |name| %>
  <% File.delete("public/uploads/tmp/#{rr[i]}/#{name}") %>
<% end %>
<% end %>
<% rr.each do |namef| %>
  <% if Dir.empty?("public/uploads/tmp/#{namef}")%>
    <% Dir.delete("public/uploads/tmp/#{namef}") %>
  <% end %>
<% end %>
