<% if (user_signed_in?) %><% userid = current_user.id %>
  <% if Creator.exists? %>
    <% if Creator.find_by(idreg: userid) %>
      <h2><%= Creator.find_by(idreg: userid).namecreator %>, вы уже добавили данные</h2>
      <p>Для просмотра информации нажмите вкладку "Профиль".</p>
    <% else %>
      <h1>Добавить личные данные</h1>
      <% if @creator.errors.any? %>
        <div id="error_explanation">
          <h2>
            <% er=@creator.errors.count %>
            <% if er>0 %>
              <span class="formerrors">Форма заполнена неправильно</span>
            <% end %>
          </h2>
        </div>
      <% end %>
      <div class="formswrapper">
        <%= form_with scope: :creator, html: { multipart:  true }, url: creators_path, local: true do |form| %>
        <div class="row">
          <div class="form-group col-sm-4">
            <%= form.label :"Аватарка" %><br><%= form.file_field :photocreator %>
          </div>
          <div class="form-group col-sm-4">
            <%= form.label :"Имя*" %><br><%= form.text_field :namecreator, class: "w100" %>
          </div>
          <div class="form-group col-sm-4">
            <%= form.label :"Фамилия*" %><br><%= form.text_field :surnamecreator, class: "w100" %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="form-group col-sm-4">
            <%= form.label :"Телефон*" %><br><%= form.text_field :telephonecreator, class: "w100" %>
            <small class="form-text text-muted">Пример: +7 900-000-00-00</small>
          </div>
          <div class="form-group col-sm-4">
            <%= form.label :"Компания" %><br><%= form.text_field :companycreator, class: "w100" %>
          </div>
          <div class="form-group col-sm-4">
          <%= form.label :"Промокод" %><br><%= form.text_field :promocodecreator, class: "w100" %>
          </div>
        </div>
        <hr>
          <%= form.hidden_field :idreg, id: "creator_idreg", value: current_user.id %>
          <%= form.hidden_field :codecreator, value: current_user.encrypted_password %>
          <p><%= form.submit "Сохранить", class: "topic_button btn btn-primary" %></p>
        <% end %>
      </div>
      <div class="notation">
        <p>Все поля с пометкой (*) должны быть заполнены.</p>
        <p>Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных. <%= link_to "Подробнее", personaldata_path %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
