<% if (username_signed_in?) %><% userid = current_username.id %>
<div class="container">
  <h1>Профиль пользователя</h1>
  <% if @visitor %>
    <% if @visitor.photo.url(:thumb) %>
      <%= image_tag @visitor.photo.url(:thumb), class: "photoprofile" %>
    <% end %>
    <hr>
    <% visitor_surname =  "visitor_surname" + current_username.id.to_s %>
    <% visitor_name =  "visitor_name" + current_username.id.to_s %>
    <% visitor_telephone =  "visitor_telephone" + current_username.id.to_s %>
    <% visitor_sex =  "visitor_sex" + current_username.id.to_s %>
    <% visitor_age =  "visitor_age" + current_username.id.to_s %>
    <% visitor_country =  "visitor_country" + current_username.id.to_s %>
    <% visitor_city =  "visitor_city" + current_username.id.to_s %>

    <% unless $visitor_name.get visitor_surname %>
      <% $visitor_name.set visitor_surname, @visitor.surname %>
      <% $visitor_name.expire visitor_surname, 86400 %>
      <% $visitor_name.set visitor_name, @visitor.name %>
      <% $visitor_name.expire visitor_name, 86400 %>
      <% $visitor_name.set visitor_telephone, @visitor.telephone %>
      <% $visitor_name.expire visitor_telephone, 86400 %>
      <h4><%= @visitor.surname %> <%= @visitor.name %> (<%= @visitor.telephone %>)</h4>
    <% else %>
      <h4><%= $visitor_name.get visitor_surname %> <%= $visitor_name.get visitor_name %> (<%= $visitor_name.get visitor_telephone %>)</h4>
    <% end %>
    <hr>
    <% unless $visitor_name.get visitor_sex %>
      <% $visitor_name.set visitor_sex, @visitor.sex %>
      <% $visitor_name.expire visitor_sex, 86400 %>
      <p><strong>Пол: </strong><%= @visitor.sex %></p>
    <% else %>
      <p><strong>Пол: </strong><%= $visitor_name.get visitor_sex %></p>
    <% end %>
    <hr>
    <%= render "user_name" %>
    <% birthdate = @visitor.birthdate %>
    <% birthdate.time.strftime("%d-%m-%Y") %>
    <% unless $visitor_name.get visitor_age %>
      <p><strong>Возраст: </strong><% age = Time.diff(Time.now, birthdate) %><%= age[:year] %> лет</p>
      <% $visitor_name.set visitor_age, age[:year] %>
      <% $visitor_name.expire visitor_age, 86400 %>
    <% else %>
      <p><strong>Возраст: </strong><%= $visitor_name.get visitor_age %> лет</p>
    <% end %>
    <hr>
    <% unless $visitor_name.get visitor_country %>
      <% $visitor_name.set visitor_country, @visitor.country %>
      <% $visitor_name.expire visitor_country, 86400 %>
      <p><strong>Страна: </strong><%= @visitor.country %></p>
    <% else %>
      <p><strong>Страна: </strong><%= $visitor_name.get visitor_country %></p>
    <% end %>
    <hr>
    <% unless $visitor_name.get visitor_city %>
      <% $visitor_name.set visitor_city, @visitor.city %>
      <% $visitor_name.expire visitor_city, 86400 %>
      <p><strong>Город: </strong><%= @visitor.city %></p>
    <% else %>
      <p><strong>Город: </strong><%= $visitor_name.get visitor_city %></p>
    <% end %>
    <hr>
    <p><%= link_to 'Редактировать', edit_visitor_path(id: @visitor.id) %></p>
  <% else %>
    <h3>Ваш профиль заполнен не полностью</h3>
    <a><%= image_tag "avatarka-no.png", alt: "Фото аватарки отсутствует", class: "noavatarka" %></a>
    <p>Фото аватарки отсутствует</p>
    <hr>
    <%= render "user_name" %>
    <p><a href="/visitors/new">Добавить данные</a></p>
  <% end %>
  </div>
<% end %>
