<% if (user_signed_in?) %><% userid = current_user.id %>
  <div class="container">
    <h1>Профиль пользователя</h1>
    <% if @creator %>
      <% if @creator.photocreator.url(:thumb) %>
        <%= image_tag @creator.photocreator.url(:thumb), class: "photoprofile" %>
      <% end %>
      <hr>
      <% creator_name =  "surnamecreator" + current_user.id.to_s %>
      <% name =  "namecreator" + current_user.id.to_s %>
      <% telephone =  "telephonecreator" + current_user.id.to_s %>
      <% company =  "company" + current_user.id.to_s %>
      <% promocode =  "promocode" + current_user.id.to_s %>
      <% unless $creator.get creator_name %>
        <% $creator.set creator_name, @creator.surnamecreator %>
        <% $creator.expire creator_name, 86400 %>
        <% $creator.set name, @creator.namecreator %>
        <% $creator.expire name, 86400 %>
        <% $creator.set telephone, @creator.telephonecreator %>
        <% $creator.expire telephone, 86400 %>
        <h4><%= @creator.surnamecreator %> <%= @creator.namecreator %> (<%= @creator.telephonecreator %>)</h4>
      <% else %>
        <h4><%= $creator.get creator_name %> <%= $creator.get name %> (<%= $creator.get telephone %>)</h4>
      <% end %>
        <hr>
        <%= render "user" %>
        <% unless $creator.get company %>
          <% $creator.set company, @creator.companycreator %>
          <% $creator.expire company, 86400 %>
          <p><strong>Название организации: </strong><%= @creator.companycreator %></p>
        <% else %>
          <p><strong>Название организации: </strong><%= $creator.get company %></p>
        <% end %>
        <hr>
        <% unless $creator.get promocode %>
          <% $creator.set promocode, @creator.promocodecreator %>
          <% $creator.expire promocode, 86400 %>
          <p><strong>Промокод: </strong><%= @creator.promocodecreator %></p>
        <% else %>
          <p><strong>Промокод: </strong><%= $creator.get promocode %></p>
        <% end %>
        <p><a href="/creators/<%= @creator.id %>/edit">Редактировать</a></p>
    <% else %>
      <h3>Ваш профиль заполнен не полностью</h3>
      <a><%= image_tag "avatarka-no.png", alt: "Фото аватарки отсутствует", class: "noavatarka" %></a>
      <p>Фото аватарки отсутствует</p>
      <hr>
      <%= render "user" %>
      <p><a href="/creators/new">Добавить данные</a></p>
    <% end %>
  </div>
<% end %>
