<% if (user_signed_in?) %><% userid = current_user.id %>
  <% if Creator.exists? %>
    <% if Creator.find_by(idreg: userid) %>
      <div class="container">
        <h1>Профиль пользователя</h1>
        <% if Creator.find_by(idreg: userid).photocreator.url(:thumb) %>
          <%= image_tag Creator.find_by(idreg: userid).photocreator.url(:thumb), class: "photoprofile" %>
        <% end %>
        <hr>
        <h4><%= Creator.find_by(idreg: userid).surnamecreator %> <%= Creator.find_by(idreg: userid).namecreator %> (<%= Creator.find_by(idreg: userid).telephonecreator %>)</h4>
        <hr>
        <p><strong>Email: </strong><%= current_user.email %></p>
        <hr>
        <p><strong>Id пользователя: </strong><%= current_user.id %></p>
        <hr>
        <p><strong>Зарегистрирован: </strong><% regdata = current_user.created_at %><%= regdata.time.strftime("%d-%m-%Y") %></p>
        <hr>
        <% if Creator.find_by(idreg: userid).companycreator %>
          <p><strong>Название организации: </strong><%= Creator.find_by(idreg: userid).companycreator %></p>
          <hr>
        <% end %>
        <% if Creator.find_by(idreg: userid).promocodecreator %>
          <p><strong>Промокод:</strong><%= Creator.find_by(idreg: userid).promocodecreator %></p>
        <% end %>
        <% if Creator.find_by(idreg: userid).surnamecreator %>
          <p><a href="/creators/<%= Creator.find_by(idreg: userid).id %>/edit">Редактировать</a></p>
        <% end %>
      </div>
    <% else %>
    <div class="container">
      <h1>Профиль пользователя</h1>
      <h3>Ваш профиль заполнен не полностью</h3>
      <a><%= image_tag "avatarka-no.png", alt: "Фото аватарки отсутствует", class: "noavatarka" %></a>
      <p>Фото аватарки отсутствует</p>
      <hr>
      <p><strong>Email: </strong><%= current_user.email %></p>
      <hr>
      <p><strong>Id пользователя: </strong><%= current_user.id %></p>
      <hr>
      <p><strong>Зарегистрирован: </strong><% regdata = current_user.created_at %><%= regdata.time.strftime("%d-%m-%Y") %></p>
      <hr>
      <p><a href="/creators/new">Добавить данные</a></p>
    </div>
    <% end %>
  <% end %>
<% end %>
